n8n-workflows/ai-video-generation-workflow.json
{
  "name": "AI Video Generation - Certification Content Pipeline",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "specificFolder",
        "folderToWatch": "{{$env.AIRTABLE_WATCH_BASE}}"
      },
      "name": "Airtable Trigger - New Content Request",
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "base": "={{$node[\"Airtable Trigger - New Content Request\"].json[\"baseId\"]}}",
        "table": "Content Queue",
        "id": "={{$node[\"Airtable Trigger - New Content Request\"].json[\"id\"]}}"
      },
      "name": "Get Content Details from Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "// Extract content details\nconst contentType = $input.item.json.fields['Content Type'];\nconst certification = $input.item.json.fields['Certification'];\nconst topic = $input.item.json.fields['Topic'];\nconst duration = $input.item.json.fields['Duration'] || 10;\n\n// Generate video prompt\nlet prompt = '';\n\nif (contentType === 'Study Guide') {\n  prompt = `Professional educational video: ${certification} certification study guide covering ${topic}. Clean, modern presentation with text overlays, diagrams, and smooth transitions. Corporate training style, high quality, 1080p.`;\n} else if (contentType === 'Practice Questions') {\n  prompt = `Educational quiz video for ${certification} exam preparation. Show ${topic} practice questions with multiple choice options, professional layout, clean typography, corporate style.`;\n} else if (contentType === 'Concept Explanation') {\n  prompt = `Animated explanation video for ${certification} concept: ${topic}. Use visual metaphors, diagrams, and smooth animations. Professional educational style, engaging visuals.`;\n}\n\nreturn {\n  json: {\n    prompt: prompt,\n    duration: duration,\n    certification: certification,\n    topic: topic,\n    contentType: contentType,\n    recordId: $input.item.json.id\n  }\n};"
      },
      "name": "Generate Video Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.HUNYUAN_VIDEO_API_ENDPOINT || 'http://localhost:8000/generate'}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{$json[\"prompt\"]}}"
            },
            {
              "name": "duration",
              "value": "={{$json[\"duration\"]}}"
            },
            {
              "name": "resolution",
              "value": "1080p"
            },
            {
              "name": "model",
              "value": "HunyuanVideo-1.5"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "name": "Call HunyuanVideo API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "functionCode": "// Poll for video generation completion\nconst taskId = $input.item.json.task_id;\nconst apiEndpoint = $env.HUNYUAN_VIDEO_API_ENDPOINT || 'http://localhost:8000';\n\nreturn {\n  json: {\n    taskId: taskId,\n    statusUrl: `${apiEndpoint}/status/${taskId}`,\n    originalData: $input.item.json\n  }\n};"
      },
      "name": "Prepare Status Check",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json[\"statusUrl\"]}}",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Check Video Generation Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"status\"]}}",
              "operation": "equals",
              "value2": "completed"
            }
          ]
        }
      },
      "name": "Check if Complete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "name": "Wait 30 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1450, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json[\"video_url\"]}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Download Generated Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "operation": "upload",
        "folderId": "={{$env.GOOGLE_DRIVE_FOLDER_ID}}",
        "fileName": "={{$json[\"certification\"]}}_{{$json[\"topic\"]}}_{{$now.toFormat('yyyyMMdd_HHmmss')}}.mp4",
        "binaryData": true
      },
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1850, 200],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1",
          "name": "Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": "={{$node[\"Get Content Details from Airtable\"].json[\"baseId\"]}}",
        "table": "Content Queue",
        "id": "={{$json[\"recordId\"]}}",
        "fields": {
          "Status": "Completed",
          "Video URL": "={{$node[\"Upload to Google Drive\"].json[\"webViewLink\"]}}",
          "Completed Date": "={{$now.toISO()}}"
        }
      },
      "name": "Update Airtable Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [2050, 200]
    }
  ],
  "connections": {
    "Airtable Trigger - New Content Request": {
      "main": [[{"node": "Get Content Details from Airtable", "type": "main", "index": 0}]]
    },
    "Get Content Details from Airtable": {
      "main": [[{"node": "Generate Video Prompt", "type": "main", "index": 0}]]
    },
    "Generate Video Prompt": {
      "main": [[{"node": "Call HunyuanVideo API", "type": "main", "index": 0}]]
    },
    "Call HunyuanVideo API": {
      "main": [[{"node": "Prepare Status Check", "type": "main", "index": 0}]]
    },
    "Prepare Status Check": {
      "main": [[{"node": "Check Video Generation Status", "type": "main", "index": 0}]]
    },
    "Check Video Generation Status": {
      "main": [[{"node": "Check if Complete", "type": "main", "index": 0}]]
    },
    "Check if Complete": {
      "main": [
        [{"node": "Download Generated Video", "type": "main", "index": 0}],
        [{"node": "Wait 30 Seconds", "type": "main", "index": 0}]
      ]
    },
    "Wait 30 Seconds": {
      "main": [[{"node": "Check Video Generation Status", "type": "main", "index": 0}]]
    },
    "Download Generated Video": {
      "main": [[{"node": "Upload to Google Drive", "type": "main", "index": 0}]]
    },
    "Upload to Google Drive": {
      "main": [[{"node": "Update Airtable Record", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-25T04:24:00.000Z",
  "versionId": "1"
}
